h1{color:black;font-family:楷体;font-size:30px;}
p1{color:black;font-family:宋体;}
p{color:black;font-family:宋体;}
#wrap{
width:99.5%;
height:1500;
border:border-radius:%;
margin:5px 5px;
}
/* 去除div区域与浏览器之间的边界 */
/* 去除div区域与浏览器之间的边界 */
body{
	margin:0px;
	padding:0px;
}

header{
width:100%;
height:80px;
margin:20px auto;
h1{color:#0F5396;font-family:黑体}
}
nav{
  width:200%;
  height:50px;
  border:1px solid black;
  border-radius:%;
  margin:20px auto;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    	background-image: url( "footer.png");
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


nav.top_menu{
  width:100%;
  height:40px;
  background:#0F5396;  
  margin:0 auto;
}
nav.top_menu ul li{
  display:inline;
}
nav.top_menu ul li a{
  display:inline-block;
  padding:0 20px;
  height:49px;
  line-height:60px;
  color:white;
  font-size:20px;
  text-decoration:none;

}

nav.top_menu ul li a:hover{
  background:#0F5396;
}
main{
width:100%;
height:1190px;
margin:20px auto;
background-image: url("beijing1.jpg");
	background-size: cover;
}
article{
width:97%;
height:200px;
border:border-radius:%;
margin:10px 10px;
padding:10px 10px;
font-family:宋体;

}
section{
width:100%;
height:100px;
margin:10px 10px;
}
aside{
width:500px;
height:350px;
border:1px solid rgba(223,220,220,1.00);
border-radius:%;
margin:0px 0px;
float:right;
background-image: ;
padding:0px 0px;
h1{color:white;font-family:宋体}
}
em{color:white;
	font-size: 50;
	font-family:宋体;
}
footer{
width:100%;
height:50px;
clear:both;
margin: auto;
}







